<p>
	<strong>First_Name</strong>
	<%=@contact.firstname%>
</p>
<p><strong>Last_name</strong>
	<%=@contact.lastname%>
</p>
<p><strong>Email</strong>
	<%=@contact.email%>
</p>
<p><strong>Mobile_number</strong>
	<%=@contact.mobile%>
</p>
